header{
    background-color: #DAB88B;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content:space-between;     
}
nav{
    background-color:#F3E9DD;
    padding: 0px 20px;
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: inherit;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
article{
    background-color: #FDF6EC;
    grid-column: 1/4 ;
    
}
aside{
    background-color: #F3E9DD;
    grid-column:4/5 ;
     
}
footer{
    background-color: #DAB88B;
    padding: 10px;
    font-family:'Times New Roman', Times, serif
}
.menu{
    padding: 0px 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
}
.menu  >li{
    float: left;
    
}
.menu li a{
    background-color: #F3E9DD;
    color: #00092C;
    text-decoration: none;
    padding: 20px ;
    display: block;
    
}
.menu li a:hover{
    background-color: #DAB88B;
}
.menu li ul{
    display:none;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    min-width: 140px;
}
.menu li:hover > ul{
    display: block;
}
.menu li ul li {
    position: relative;
}
.menu li ul li{
    right: 140px;
}
  .content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
  

